### 실습1
1. 1~1000 사이 숫자에서 3의 배수로 구성된 리스트 a를 만들기
2. range() 숫자 발생 -> list로 만들기

In [8]:
a = []

for i in range(1,1000):
    if i % 3 == 0 :
        a.append(i)
print(a[:5])

[3, 6, 9, 12, 15]

In [5]:
a1 = []
for i in range(3, 1000, 3):
    a1.append(i)
print(a1[:5])

[3, 6, 9, 12, 15]

In [9]:
a2 = list(range(3,1000,3)); print(a[:5])

[3, 6, 9, 12, 15]

### 실습2
1. a에서 홀수를 추출해서 b를 만들기

In [15]:
b = []

for i in a:
    if i % 2 == 1:
    #if i % 2 != 0:
        b.append(i)
print(b[:5])

[3, 9, 15, 21, 27]

In [12]:
b1 = a[::2]; print(b1[:5])

[3, 9, 15, 21, 27]

### 실습3
1. c에서 1~7 리스트 값을 만들기(for문)

In [16]:
c = []

for i in range(1,8):
    c.append(i)
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
# 리스트 comprehension
c1 = [i for i in range(1,8)]
c1

[1, 2, 3, 4, 5, 6, 7]

### 실습4
1. 1~7로 구성된 num을 만들고
2. 각 요소의 제곱된 리스트 d를 만들기

In [23]:
num = list(range(1,8))

d = []
for i in num:
    d.append(i**2)
d

[1, 4, 9, 16, 25, 36, 49]

In [24]:
num = [i for i in range(1,8)]
d1 = [pow(j,2) for j in num]

print(d1)

[1, 4, 9, 16, 25, 36, 49]

In [25]:
[i**2 for i in list(range(1, 8))]

[1, 4, 9, 16, 25, 36, 49]

### 실습5
1. 1~7로 구성된 리스트 num1을 만들고
2. 3보다 큰 수만 제곱한 리스트 만들기

In [27]:
num1 = list(range(1,8))
e = []
for j in num1:
    if j > 3:
        e.append(j**2)
print(e)

[16, 25, 36, 49]

In [30]:
# [반복실행문 for 반복변수 in 반복범위 if 조건문]
e1 = [j**2 for j in num1 if j > 3]
print(e1)

[16, 25, 36, 49]

### 실습6
1. 1~7로 구성된 리스트 num2를 만들고
2. 3보다 크면 제곱, 3보다 작으면  3제곱한 리스트 만들기

In [34]:
num2 = list(range(1,8))
e2 = []
for i in num2:
    if i > 3:
        e2.append(i**2)
    else:
        e2.append(i**3)
print(e2)

[1, 8, 27, 16, 25, 36, 49]

In [35]:
e2 = [i**2 if i > 3 else i**3 for i in num2]
print(e2)

[1, 8, 27, 16, 25, 36, 49]