In [1]:
a = 10 ; b = 15 ; c = 10

In [2]:
a == b

False

In [3]:
a != b

True

In [4]:
a > b

False

In [5]:
a >= b

False

In [6]:
a in (10, 20, 30)

True

In [9]:
id(c)

140732542560336

### (조건문)

In [ ]:
# type 1
# if(조건문):
#     명령문..

In [10]:
py = True
if(py):
    print("참")

참

In [11]:
py = False
if(py):
    print("참")

In [ ]:
# type 2
# if (조건문):
#     참일 때 실행문1
#     참일 때 실행문2
# else:
#     거짓일 때 실행문1
#     거짓일 때 실행문2

In [17]:
py = False
if(py):
    print("참")
      #print("참 2")
else:
    print("거짓")

거짓

In [18]:
# type 3
# if (조건1):
#     조건1 참1
#     조건1 참2
# elif(조건2):
#     조건2 참1
#     조건2 참2
# elif(조건3):
#     조건3 참1
#     조건3 참2
# else:
#     모든 조건 거짓

In [19]:
py1 = False
py2 = True
if(py1):
    print("py1 참")
elif(py2):
    print("py2 참")
else:
    print("둘 다 거짓")

py2 참

In [23]:
# 0->False, 나머지는 True
py1 = -1
py2 = 0
if(py1):
    print("py1 참")
elif(py2):
    print("py2 참")
else:
    print("둘 다 거짓")

py1 참

In [28]:
a = 10; b =10
py1 = True
py2 = False
if(py1 & py2):
    print("py1 참")
elif(py1 | py2):
    print("py2 참")
else:
    print("둘 다 거짓")

py2 참

### (반복문)

In [29]:
a1=1;a2=2;a3=3
print(a1)
print(a2)
print(a3)

1
2
3

In [30]:
a = [1, 2, 3]
print(a[0])
print(a[1])
print(a[2])

1
2
3

In [31]:
# for (반복문을 받는 변수 ) in (반복문):
#     변수 처리

In [32]:
for i in a:
    print(i)

1
2
3

In [36]:
# TypeError: 'int' object is not iterable
# abc = 3
# for i in abc:
#     print(i)

In [38]:
abc = "abc"
j = 0
print("befor = ", j)
for j in abc:
    print(j)
print("befor= ", j)

befor =  0
a
b
c
befor=  c

In [40]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [43]:
aa = list(range(1,10))
aa

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
aa[0:10:2]

[1, 3, 5, 7, 9]

##### (1~10 중에서 홀수만 출력)
1. 값%2 == 1

In [49]:
for i in range(1, 10):
    if i%2==1 :
        print("홀수 = ", i)

홀수 =  1
홀수 =  3
홀수 =  5
홀수 =  7
홀수 =  9

In [50]:
for i in range(1, 10):
    if i%2 != 0:
        print("홀수 = ", i)

홀수 =  1
홀수 =  3
홀수 =  5
홀수 =  7
홀수 =  9

### (1 ~ 10중 홀짝 판정)
1. 홀수와 짝수 판정

In [53]:
for k in range(0,10):
    if k % 2 == 0:
        print("짝수 = ", k)
    else:
        print("홀수 = ", k)

짝수 =  0
홀수 =  1
짝수 =  2
홀수 =  3
짝수 =  4
홀수 =  5
짝수 =  6
홀수 =  7
짝수 =  8
홀수 =  9

In [55]:
input("화면에서 입력 받음")

화면에서 입력 받음바보멍청이

'바보멍청이'

In [56]:
x = input("입력> ")

입력> 123

In [58]:
type(x)

str

In [59]:
x = int(input("입력> "))

입력> 123

In [60]:
type(x)

int

In [61]:
if x > 0:
    print('크다')

크다

In [62]:
x = int(input("숫자는> "))
if x > 0:
    print("양수")
else:
    print("음수")

숫자는> -3
음수

### (화면에서 숫자를 입력받아서 처리)
1. 음수, 제로, 1, 1보다 큰 수를 판정

In [66]:
num = int(input("숫자는? "))
if num < 0:
    print("Negative Num")
elif num == 0:
    print("Zero")
elif num == 1:
    print("Only One")
else:
    print(" 1보다 큰 수")

숫자는? 2
 1보다 큰 수

### (정수를 입력 받아서)
1. 90점 이상 A등급
2. 89~80 B등급
3. 79~70 C등급
4. 나머지 기타 등급 출력

In [71]:
score = int(input("점수는> "))
if score >= 90:
    print(" A  등급")
elif score >=80:
    print(" B 등급")
elif score >= 70:
    print(" C 등급")
else:
    print("기타 등급")

점수는> 60
기타 등급

In [81]:
#while
count = 5
while count > 0:
    print("조건 만족", count)
    count -= 1#count = count -1
    #count =- 1 -> count에 -1 할당
else:
    print("종료")

조건 만족 5
조건 만족 4
조건 만족 3
조건 만족 2
조건 만족 1
종료

In [83]:
for n in range(1, 10):
    if n > 4:
        break
    print("n = ", n)

n =  1
n =  2
n =  3
n =  4

In [84]:
for n in range(1, 10):
    if n%3 == 0:
        continue
    print("n = ", n)

n =  1
n =  2
n =  4
n =  5
n =  7
n =  8

### (list, dictionary for loop)

In [87]:
fruit = ["apple","peer","banana"]
print(type(fruit))
for i in fruit:
    print(i)

<class 'list'>
apple
peer
banana

In [92]:
# dictionary for loop
fruit_price = {"apple":3500,
              "peer":2500,
              "banana": 8000}
print(type(fruit_price))
#과일명 출력
for i in fruit_price.keys():
    print(i)

<class 'dict'>
apple
peer
banana

In [94]:
#과일값 출력
for i in fruit_price.values():
    print(i)

3500
2500
1500

In [99]:
#apple의 가격은?
for i in fruit_price.items():
    if (i[0] == "apple"):
        print("apple = ",i[1])

apple =  3500

### (실습)
1. fruit_price 데이터에서 
2. 3000원이 넘는 과일 이름과 3000원 미만의 과일 이름 출력
- 작업절차 :
    - high=[]; low=[]
    - for 데이터 로드
    - if 가격 체크
    - True면 high, False면 low
    - high, low 출력

In [121]:
fruit_price = {"apple":3500,
              "peer":2500,
              "banana": 8000} ; high = [] ; low = []
for i in fruit_price.items():
    if (i[1] >=3000):
        high.append(i[0])
    else:
        low.append(i[0])
print("3000원 이상 과일 : ",high)
print("3000원 미만 과일 : ", low)

3000원 이상 과일 :  ['apple', 'banana']
3000원 미만 과일 :  ['peer']

### (실습)
#과일명 : [과일가격, 개수]
#과일가격이 3000원 이상인 과일은 총 몇 개?
- fruit_count = {"apple":[3500,10],
                      "peer":[2500,5],
                      "cherry":[5000,2],
                      "banana":[2900,7]}

In [134]:
fruit_count = {"apple":[3500,10],
                "peer":[2500,5],
                "cherry":[5000,2],
                "banana":[2900,7]}
count = 0
for i in fruit_count.items():
    if(i[1][0] >= 3000):
        count += i[1][1]
print("3천 원 이상 과일 총 개수 = ",count)

3천 원 이상 과일 총 개수 =  12