## 리스트

append(): list에 객체 추가

In [2]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [4]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
a

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

clear(): list 내부 객체 제거

In [5]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
fruits

[]

copy(): 기존 list 복사

In [7]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
x

['apple', 'banana', 'cherry', 'orange']

count() : list 내부 parameter 객체 수 반환

In [8]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
x

1

In [10]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9); x

2

extend() : iterable한 객체를 기존 list에 추가

In [13]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars) ; fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

index(): list내 parameter의 index 반환

In [15]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry"); x

2

insert(): 특정 index에 객체 추가

In [18]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange"); fruits

['apple', 'orange', 'banana', 'cherry']

pop(): parameter에 해당하는 index를 가진 객체 제거

In [19]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1); fruits

['apple', 'cherry']

remove(): list 내 parameter 객체 제거

In [20]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana"); fruits

['apple', 'cherry']

reverse(): index 역순으로 재정렬

In [21]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse(); fruits

['cherry', 'banana', 'apple']

sort() : list 오름차순 정렬, 내림차순은 reverse=True  
key=* 으로도 정렬 가능

In [22]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(); cars

['BMW', 'Ford', 'Volvo']

In [24]:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc); cars

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [25]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True); cars

['Volvo', 'Ford', 'BMW']

In [27]:
def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc); cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

## 튜플

count() : parameter 개수 반환

In [28]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

index() : parameter index 반환

In [29]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

## 딕셔너리

clear() : 딕셔너리 내부 객체 제거

In [30]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

copy() : 딕셔너리 복사

In [31]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

fromkeys(keys, value) : keys에 value 부여

In [32]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [33]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

get(keyname, value) : keyname에 해당하는 value 추출

In [40]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [41]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", 15000)

print(x)

15000

items() : 딕셔너리 내용물 모두 추출

In [42]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

keys() : 딕셔너리 모든 key 추출

In [43]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [44]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year', 'color'])

pop(keyname, defaultvalue) : 딕셔너리 내 parameter에 해당하는 객체 제거 후 반환

In [50]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.pop("model")

print(car)
print(x)

{'brand': 'Ford', 'year': 1964}
Mustang

popitem() : 딕셔너리에서 무작위로 item 제거 후 뽑아낸 item 반환

In [49]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [48]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.popitem()

print(x)

('year', 1964)

setdefault() : 키에 해당하는 값을 반환  
키에 해당하는 기존 값이 있다면 기존 값 반환

In [51]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [52]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)

white

update() : 딕셔너리에 item 추가, 변경

In [53]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [54]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"model": "audi"})

print(car)

{'brand': 'Ford', 'model': 'audi', 'year': 1964}

values() : 딕셔너리의 모든 value 반환

In [55]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [56]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

car["year"] = 2018

print(x)

dict_values(['Ford', 'Mustang', 2018])