capitalize() : 첫 문자를 대문자로 변환

In [2]:
txt = "hello, and welcome to my world."

txt.capitalize()

'Hello, and welcome to my world.'

casefold() : 모든 문자를 소문자로 변환

In [3]:
txt.casefold()

'hello, and welcome to my world.'

center(i) : 문자열을 i만큼의 공간 가운데에 정렬

In [4]:
txt = "banana"

txt.center(20)

'       banana       '

In [5]:
txt.center(20,"_")

'_______banana_______'

count("str", start, end) : 해당 문자열이 객체에 얼마나 있는지 셈

In [6]:
txt = "I love apples, apple are my favorite fruit"

txt.count("apple")

2

In [7]:
txt.count("apple", 10, 24)

1

encode() : 영어 외 문자를 converting<br>
특수문자를 표현하려면 .decode()를 붙여 써야 함

In [8]:
txt = "안녕하세요"

print(txt.encode())
print(txt.encode().decode())

b'\xec\x95\x88\xeb\x85\x95\xed\x95\x98\xec\x84\xb8\xec\x9a\x94'
안녕하세요

In [9]:
txt = "안녕하세요"

print(txt.encode("euc-kr")) #한글  encoding: utf-8, cp949, euc-kr
print(txt.encode().decode())

b'\xbe\xc8\xb3\xe7\xc7\xcf\xbc\xbc\xbf\xe4'
안녕하세요

endswith("str") : 문장 끝이 "str"로 끝나면 True, 아니면 False

In [12]:
txt = "Hello, welcome to my world."

print(txt.endswith("my world."))
print(txt.endswith("my world"))

True
False

find("str") : "str"의 index 번호를 알려줌<br>
                    "str"이 없으면 -1 return

In [13]:
txt = "Hello, welcome to my world."

txt.find("welcome")

7

format() : "str"의 {}에 값을 넣어줌<br>
"str {var:.2f}".format() : {}의 출력 형태를 정의

In [14]:
"My name is {}, I'm {}".format("John", 36)

"My name is John, I'm 36"

In [15]:
"My name is {0}, I'm {1}".format("John", 36)

"My name is John, I'm 36"

In [16]:
"My name is {1}, I'm {0}".format("John", 36)

"My name is 36, I'm John"

In [17]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

join() : 문자열 합침

In [18]:
a = ["a", "b", "c"]
",".join(a)

'a,b,c'

In [19]:
a = "d:/python/text6.csv"

split("delimiter") : delimiter로 "str" 쪼개서 리스트 저장

In [20]:
a.split("/")

['d:', 'python', 'text6.csv']

In [21]:
a = "c://python/text6.csv//aaaa"

a.split('//')[-1]

'aaaa'

In [22]:
a = "APPA 포럼 폐막…포스트코로나 시대 개인정보보호 원칙 공감대\
기사입력 2021.06.18. 오후 12:00 최종수정 2021.06.18. 오후 2:01"

a.split("오후")[0].split(".")[0].split(" ")

['APPA', '포럼', '폐막…포스트코로나', '시대', '개인정보보호', '원칙', '공감대기사입력', '2021']

In [23]:
a = """APPA 포럼 폐막…
포스트코로나 시대 
개인정보보호 원칙 공감대
기사입력 2021.06.18. 오후 12:00 
최종수정 2021.06.18. 오후 2:01"""

a.split("\n")

['APPA 포럼 폐막…',
 '포스트코로나 시대 ',
 '개인정보보호 원칙 공감대',
 '기사입력 2021.06.18. 오후 12:00 ',
 '최종수정 2021.06.18. 오후 2:01']

replace("oldstr", "newstr") : "oldstr"을 "newstr"로 변환

In [24]:
a = "python hell"

a.replace("hell", "hello")

'python hello'

In [25]:
a = "python"
str1 = "py"
str2 = "ja"

maketrans(str1, str2) : str1을 str2로 변환(문자열 길이 같아야 함)<br>
translate(str) : 기존 문자열을 str로 변환

In [26]:
string = a.maketrans(str1, str2)
print(a.translate(string))

jathon

title() : 각 단어의 첫 글자를 대문자로 변환

In [27]:
txt = "Welcome to my world"

txt.title()

'Welcome To My World'

strip() : 특정 문자 제거. default 공백

In [28]:
txt = "     banana     "

txt.strip()

'banana'

index() : 문자열이 시작하는 첫 번째 index 반환

In [29]:
txt = "Hello, welcome to my world."

txt.index("welcome")

7

expandtabs(): 탭 간격 설정

In [30]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

isalnum(): 알파벳이나 숫자면 True, 공백 및 특수기호(!#%&?) 등이 있으면 False

In [35]:
txt = "Company12"
txt1 = "Company!12"

x = txt.isalnum()
x1 = txt1.isalnum()
print(x)
print(x1)

True
False

isalpha(): 알파벳이면 True, 아니면 False

In [37]:
txt = "Company10"
txt1 = "Company"
x = txt.isalpha()
x1 = txt1.isalpha()
print(x)
print(x1)

False
True

isdecimal(): 십진수면 True, 아니면 False

In [38]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

isdigit(): 문자열이 모두 숫자면 True, 아니면 False

In [46]:
a = "123456"
b = "a123456"

print(a.isdigit())
print(b.isdigit())

True
False

isidentifier(): 유효한 식별자면 True, 아니면 False  
유효한 식별자 : 알파벳, 숫자, _로 이루어진 문자열이면서 숫자나 기호로 시작하지 않는 문자열

In [47]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

islower(): 문자열이 모두 소문자면 True, 아니면 False

In [50]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

isnumeric(): 문자열이 0~9사이 숫자면 True, 아니면 False

In [51]:
a = "0"
b = "a"
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
False
False
False
False

isprintable(): 프린트가 가능한 경우에 true 아니면 false.  
유니코드상에서 other로 구분되어 있는 문자는 false로 반환함

In [54]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

isspace(): 문자열이 모두 공백이면 True, 아니면 False

In [56]:
txt = "   s   "
txt1 = "      "

x = txt.isspace()
x1 = txt1.isspace()

print(x)
print(x1)

False
True

istitle(): 문자열의 시작이 대문자이면서 남은 문자열이 소문자이면 True, 아니면 False

In [58]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
e = "hi guys"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())

False
True
True
True
False

isupper(): 문자열이 모두 대문자이면 True, 아니면 False

In [59]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

ljust(): 왼쪽부터 칸 수 확보

In [60]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

lower(): 문자열을 모두 소문자로 변경

In [61]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

lstrip(): 왼쪽부터 특정 문자 제거

In [63]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

partition(): 문자열에 첫 번째로 등장하는 parameter 기준으로 문자열 나눔

In [67]:
txt = "I could eat bananas all day"

x = txt.partition("c")

print(x)

('I ', 'c', 'ould eat bananas all day')

rfind(): parameter를 오른쪽부터 찾아서 index 반환, 없으면 -1 반환

In [68]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [69]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [71]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))

-1

rindex(): 오른쪽부터 parameter를 찾아 index 반환, 못 찾으면 에러 발생

In [72]:
txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [73]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [75]:
# txt = "Hello, welcome to my world."

# print(txt.rindex("q"))

# ValueError: substring not found

rjust(): 오른쪽부터 칸 수 확보

In [76]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

rpartition(): 문자열 오른쪽에서 첫 번째로 등장하는 parameter 기준으로 문자열 나눔

In [79]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("i")

print(x)

('I could eat bananas all day, bananas are my favorite fru', 'i', 't')

rsplit(): 오른쪽을 기준으로 문자열 쪼갬  
maxsplit 값은 몇 번 쪼갤 것인지 정함

In [85]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 2)

print(x)

['apple', 'banana', 'cherry']

rstrip(): 문자열의 오른쪽의 parameter 제거

In [88]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

splitlines(): 문자열을 line으로 쪼갠 후 list 반환  
parameter값이 True면 특수기호 포함, False면 미포함(default False)

In [90]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

startswith(): 문자열이 parameter로 시작하면 True, 아니면 False

In [91]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

swapcase(): 문자열의 대문자, 소문자 swap

In [92]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

title(): 문자열을 title로 만들어줌(각 단어 첫 글자를 upper 변환)

In [93]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

upper(): 대문자로 변환

In [94]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

zfill(): 문자열 길이가 parameter에 맞게끔 왼쪽부터 0을 붙여줌

In [95]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000