### [ 파이썬과 MariaDB 연동 ] 
pymysql 설치

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

#### DB 연결

In [5]:
import pymysql

# DB 연결 
conn = pymysql.connect(host="127.0.0.1", user="root", password="root", db="test", charset="utf8")
cur = conn.cursor()

###### SQL 실행

In [6]:
sql1 ="create table user (id varchar(100) primary key, name varchar(100), password varchar(100) ) DEFAULT CHARSET=utf8 "

In [7]:
cur.execute(sql1)

0

In [8]:
insert_sql1 = "insert into user values ('hong','홍길동','1234')" ;
cur.execute(insert_sql1)

1

In [9]:
insert_sql2 = "insert into user values ('lee','이길동','1234')" ;
cur.execute(insert_sql2)

1

In [10]:
insert_sql3 = "insert into user values ('kim','김길동','1234')" ;
cur.execute(insert_sql3)

1

##### 커밋

In [11]:
conn.commit()

#### select

In [36]:
select_sql = "select * from user " 
cur.execute(select_sql)

4

In [37]:
while(True) :
    row = cur.fetchone() # 데이터 하나 추출
    if row==None :
        break; 
    print(row[0],row[1],row[2])

bark 박박박 1234
hong 홍길동 1234
kim 김길동 1234
lee 이길동 1234

### 회원가입
이름, 아이디, 패스워드 입력받은 후 DB저장

In [49]:
name = input("이름을 입력하세요> ")
userid = input("아이디를 입력하세요> ")
userpw = input("패스워드를 입력하세요> ")

이름을 입력하세요> 김개똥
아이디를 입력하세요> boom
패스워드를 입력하세요> 1234

In [61]:
insert_sql5 = "insert into user values('{}', '{}', '{}' )".format(userid, name, userpw)
result = cur.execute(insert_sql5)
print(insert_sql5)
print(result)
conn.commit()

insert into user values('boom', '김개똥', '1234' )
1

In [60]:
delete_sql = "delete from user where name = '김개똥' "
cur.execute(delete_sql)
conn.commit()

In [62]:
select_sql = "select * from user"
cur.execute(select_sql)

5

In [63]:
member = input()

while True:
    row = cur.fetchone()
    if row[1] == member:
        print(row)
        break

김개똥
('boom', '김개똥', '1234')