In [1]:
# https://www.w3schools.com/python/python_strings_methods.asp

capitalize() : 첫 문자를 대문자로 변환

In [2]:
txt = "hello, and welcome to my world."

txt.capitalize()

'Hello, and welcome to my world.'

casefold() : 모든 문자를 소문자로 변환

In [3]:
txt.casefold()

'hello, and welcome to my world.'

replace() : oldvalue를 newvalue로 count만큼 변환

In [5]:
txt = "one one was a race horse, two two was one too."

txt.replace('one', 'five', 2)

'five five was a race horse, two two was one too.'

center() : 문자열 길이 초과분만큼 양 옆에 문자 삽입(기본값 공백)

In [24]:
txt = "banana"

txt.center(8)

' banana '

count() : 해당 문자or문자열이 몇 개 있는지 셈

In [27]:
txt = "I love apples, apple are my favorite fruit"

txt.count("i")

2