### 공공데이터포털 API 사용
1. 포털가입(data.go.kr)
    - 로그인 > 검색 > API 활용신청
2. OpenAPI 활용 가이드
3. 인증키 확인
    - 인증키 복사
4. End Point
    - 기본 url + 컨텐츠 url + parameter
5. url만들기
    - 만든 url 확인

In [2]:
my_key = "LWzIQxzkc%2BeUq%2BQtoLVzpRCRy%2FvjodN7HU%2FY2NH6W%2Fj87kqP4avqY0Qfokhzd0dppcovgL%2BldJS398wibMSCXQ%3D%3D"

In [8]:
end_point = "http://apis.data.go.kr/B553077/api/open/sdsc/"
op_url = "storeZoneInRadius?radius=500&cx=127.004528&cy=37.567538&ServiceKey="
data_type = "&type=json"

In [9]:
url = end_point + op_url + my_key + data_type
print(url)

http://apis.data.go.kr/B553077/api/open/sdsc/storeZoneInRadius?radius=500&cx=127.004528&cy=37.567538&ServiceKey=LWzIQxzkc%2BeUq%2BQtoLVzpRCRy%2FvjodN7HU%2FY2NH6W%2Fj87kqP4avqY0Qfokhzd0dppcovgL%2BldJS398wibMSCXQ%3D%3D&type=json

In [10]:
import urllib.request

In [30]:
res = urllib.request.urlopen(url)

In [15]:
# print(dir(res))

In [95]:
json_str = res.read().decode("utf-8")

In [32]:
#문자열을 json으로 변환
import json
json_object = json.loads(json_str)

In [63]:
json_body = json_object["body"]["items"]

### json_object["body"]["items"]를 DataFrame 만들기
1. 컬럼
    - 'trarNo', 'mainTrarNm', 'ctprvnCd'
    - 'ctprvnNm', 'signguCd', 'signguNm'
    - ....., "stdrDt"

In [43]:
json_body[0]

{'trarNo': 2214,
 'mainTrarNm': '을지로4가역',
 'ctprvnCd': '11',
 'ctprvnNm': '서울특별시',
 'signguCd': '11140',
 'signguNm': '중구',
 'trarArea': 88434.9,
 'coordNum': 8,
 'coords': 'POLYGON ((126.999081 37.566789, 127.002102 37.566937, 127.001981 37.568644, 127.001871 37.568655, 127.001873 37.569521, 126.998065 37.568812, 126.998213 37.566753, 126.999081 37.566789))',
 'stdrDt': '2021-03-31'}

#### DataFrame 만들기 my type

In [86]:
body_list = []

for item in json_body:
    trarNo = list(item.values())[0]
    mainTrarNm = list(item.values())[1]
    ctprvnCd = list(item.values())[2]
    ctprvnNm = list(item.values())[3]     
    signguCd = list(item.values())[4]
    signguNm = list(item.values())[5]
    trarArea = list(item.values())[6]
    coordNum = list(item.values())[7]
    coords = list(item.values())[8]
    stdrDt = list(item.values())[9]
#     print(trarNo)
#     print(mainTrarNm)
#     print(ctprvnCd)
#     print(ctprvnNm)
#     print(signguCd)
#     print(signguNm)
#     print(trarArea)
#     print(coordNum)
#     print(coords)
#     print(stdrDt)
#     print("-"*50)
    body_list.append([trarNo, mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,
                      coordNum,coords,stdrDt])
import pandas as pd
json_df = pd.DataFrame(body_list, columns=["trarNo", "mainTrarNm","ctprvnCd","ctprvnNm","signguCd","signguNm",
                                 "trarArea","coordNum","coords","stdrDt"])
json_df

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

#### DataFrame 만들기 type1

In [94]:
body_list1 = []

for item in json_body:
    trarNo = item["trarNo"]
    mainTrarNm = item["mainTrarNm"]
    ctprvnCd = item["ctprvnCd"]
    ctprvnNm = item["ctprvnNm"]
    signguCd = item["signguCd"]
    signguNm = item["signguNm"]
    trarArea = item["trarArea"]
    coordNum = item["coordNum"]
    coords = item["coords"]
    stdrDt = item["stdrDt"]
    body_list1.append([trarNo, mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,
                      coordNum,coords,stdrDt])
import pandas as pd
json_df1 = pd.DataFrame(body_list1, columns=["trarNo", "mainTrarNm","ctprvnCd","ctprvnNm","signguCd","signguNm",
                                 "trarArea","coordNum","coords","stdrDt"])
json_df1

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

#### DataFrame 만들기 type2

In [91]:
total_list = []
for item in json_body:
    total_list.append(item.values())

# new_column = ["trarNo", "mainTrarNm","ctprvnCd","ctprvnNm","signguCd","signguNm",
#                                  "trarArea","coordNum","coords","stdrDt"]
# pd.DataFrame(total_list,columns=new_column)
pd.DataFrame(total_list)

,0,1,2,3,4,5,6,7,8,9
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

#### DataFram 만들기 type3

In [92]:
pd.json_normalize(json_body)

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

#### DataFrame type4

In [93]:
pd.DataFrame(json_body)

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

In [96]:
import urllib.request
url = end_point + op_url + my_key + data_type
res = urllib.request.urlopen(url)
json_str = res.read().decode("utf-8")

import json
json_object = json.loads(json_str)

import pandas as pd
df = pd.DataFrame(json_body)
df

,trarNo,mainTrarNm,ctprvnCd,ctprvnNm,signguCd,signguNm,trarArea,coordNum,coords,stdrDt
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

### df에서
1. 컬럼명 바꾸기
    - ["상권번호", "상권명", "시도코드", "시도명", "시군구코드", "시군구명", "면적", "좌표개수", "좌표값", "데이터기준일자"]
2. 아래 컬럼으로 구성된 새로운 df1 만들기
    - ["상권명", "시도명", "시군구명", "좌표값"]

In [99]:
df.columns = ["상권번호", "상권명", "시도코드", "시도명", "시군구코드", "시군구명", "면적", "좌표개수", "좌표값", "데이터기준일자"]
df

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,2214,을지로4가역,11,서울특별시,11140,중구,88434.9,8,"POLYGON ((126.999081 37.566789, 127.002102 37....",2021-03-31
1,2216,동대문시장,11,서울특별시,11140,중구,68658.0,15,"POLYGON ((127.009453 37.568775, 127.009445 37....",2021-03-31
2,2207,동대문역사문화공원역,11,서울특별시,11140,중구,81499.1,8,"POLYGON ((127.007565 37.565945, 127.004846 37....",2021-03-31
3,2226,동대문시장,11,서울특별시,11110,종로구,82364.6,28,"POLYGON ((127.009388 37.570565, 127.008984 37....",2021-03-31
4,2225,서울 종로구 종로5가역_1,11,서울특별시,11110,종로구,50246.7,20,"POLYGON ((127.001795 37.57082, 127.000088 37.5...",2021-03-31

In [101]:
df1 = df[["상권명", "시도명", "시군구명","좌표값"]]
df1

,상권명,시도명,시군구명,좌표값
0,을지로4가역,서울특별시,중구,"POLYGON ((126.999081 37.566789, 127.002102 37...."
1,동대문시장,서울특별시,중구,"POLYGON ((127.009453 37.568775, 127.009445 37...."
2,동대문역사문화공원역,서울특별시,중구,"POLYGON ((127.007565 37.565945, 127.004846 37...."
3,동대문시장,서울특별시,종로구,"POLYGON ((127.009388 37.570565, 127.008984 37...."
4,서울 종로구 종로5가역_1,서울특별시,종로구,"POLYGON ((127.001795 37.57082, 127.000088 37.5..."