In [3]:
import pandas as pd
url = "https://movie.naver.com/movie/point/af/list.nhn"

In [4]:
df = pd.read_html(url)

In [5]:
df[0]

,번호,감상평,글쓴이·날짜
0,17573152,체르노빌 1986 별점 - 총 10점 중10 희생을 감수하는 모습이 너무 안타깝...,1501****21.07.01
1,17573151,학교 가는 길 별점 - 총 10점 중2 장애인권보다 정치편햔에 치우친 영화. 신고,chan****21.07.01
2,17573149,미드나이트 별점 - 총 10점 중10 은근 숨죽이며 봤어요.나름 잘 만든 영화인...,jb25****21.07.01
3,17573150,"체르노빌 1986 별점 - 총 10점 중10 내용, 스케일, 감동 장난없다ㅠㅠ ...",bass****21.07.01
4,17573148,체르노빌 1986 별점 - 총 10점 중10 체르노빌의 아픈 실화를 담아내며 당...,yom9****21.07.01
5,17573147,체르노빌 1986 별점 - 총 10점 중10 엄청난 재난과 진한 드라마 그리고 ...,kite****21.07.01
6,17573146,체르노빌 1986 별점 - 총 10점 중10 실화라서 더 무섭고 마음이 아팠아요...,abou****21.07.01
7,17573145,체르노빌 1986 별점 - 총 10점 중10 이 모든게 실화라는 것이 알고 있음...,sord****21.07.01
8,17573144,월드 인베이젼 별점 - 총 10점 중10 스토리 라인은 간단하지만 잘 만들면 다...,78tn****21.07.01
9,17573143,콰이어트 플레이스 2 별점 - 총 10점 중10 생존물 좋아하는 난 꿀잼!!! ...,kpq8****21.07.01

In [7]:
url1 = "https://www.kca.go.kr/odr/pg/pi/osPgItemExamW.do"
df = pd.read_html(url1)
df[0]

    번호                                                 제목      출처   조회수
0  662                  방문판매를 통해 구매한 건강기능식품의 청약철회를 거절한 경우   섬유식품팀    14
1  661  전자상거래를 통해 의류 구입 후 반품했더니 7일 이내 반품 완료되지 않았다는 이유로...   섬유식품팀  1196
2  660         전자상거래에서 의류 구입 후, 구성품(비닐) 누락을 이유로 반품 거절한 경우   섬유식품팀  1086
3  659    SNS 통해 의류구입 후 40분 지나 청약철회 요청하니 해외배송비 공제 안내하는 경우   섬유식품팀   895
4  658                         청약 철회 요구한 상품의 회수 지연시 대응 방안  주택공산품팀   785
5  657                            할부결제한 고가의 시계를 배송지연하는 경우  주택공산품팀   803
6  656                          광고와 규격이 다른 매트리스의 반품 가능 여부  주택공산품팀   686
7  655                   노조 파업으로 A/S 지연된 정수기 렌탈서비스의 보상 여부  주택공산품팀   427
8  654                       입주 4년 된 아파트 발코니 배수관의 빗물 역류현상  주택공산품팀   370
9  653                          아파트 분양 카탈로그 기재 사항의 미시공 책임  주택공산품팀   151

In [11]:
url2 = "https://finance.naver.com/item/main.nhn?code=035720"
df = pd.read_html(url2, encoding="euc-kr")
df[2]

      날짜        종가         전일비       외국인        기관
0    NaN       NaN         NaN       NaN       NaN
1  06/30  163000.0   상향  5,000   -506594  +181,306
2  06/29  158000.0   상향  3,000   +63,118   -104792
3  06/28  155000.0     상향  500   -545704   -176028
4  06/25  154500.0   하향  2,500   -574488    -30129
5  06/24  157000.0  하향  12,500  -1817095   -932909
6  06/23  169500.0  상향  10,500    -71955   -179393
7    NaN       NaN         NaN       NaN       NaN