https://docs.python.org/ko/3/library/functions.html  
https://www.w3schools.com/python/python_ref_functions.asp

In [1]:
a = 1; b = -1
print(abs(a),abs(b))

1 1

In [2]:
mylist = [False, True, True]
all(mylist)

False

In [3]:
mylist = [True, True, True]
all(mylist)

True

In [4]:
mylist = [False, True, True]
any(mylist)

True

In [5]:
mylist = [False,False,False]
any(mylist)

False

### enumerate

In [6]:
a = ["봄","여름","가을","겨울"]; a

['봄', '여름', '가을', '겨울']

In [7]:
a[1]

'여름'

In [10]:
n = 0
for i in a:
    print(n, "** ", i)
    n += 1

0 **  봄
1 **  여름
2 **  가을
3 **  겨울

In [15]:
enumerate(a)

In [14]:
list(enumerate(a))

[(0, '봄'), (1, '여름'), (2, '가을'), (3, '겨울')]

In [19]:
for i in enumerate(a):
    print(i)

(0, '봄')
(1, '여름')
(2, '가을')
(3, '겨울')

In [20]:
for i in enumerate(a):
    print(i[0]," ** ", i[1])

0  **  봄
1  **  여름
2  **  가을
3  **  겨울

In [22]:
# 2개 이상의 튜플형태는 같은 수의 반복변수를 할당하면 분리해서 추출 가능
for n,i in enumerate(a):
    print(n," ** ", i)

0  **  봄
1  **  여름
2  **  가을
3  **  겨울

In [25]:
aa = (1,2); aa

(1, 2)

In [24]:
a,b = (1,2)
print(a);print(b)

1
2

In [29]:
a = ["봄","여름","가을","겨울"]
for n,i in enumerate(a, 10):
    print(n," ** ", i)

10  **  봄
11  **  여름
12  **  가을
13  **  겨울

## eval

In [30]:
print(55)

55

In [31]:
x = "print(55)"; x

'print(55)'

In [32]:
eval(x)

55

In [33]:
x = 1; x

1

In [34]:
eval("x+1")

2

### filter

In [35]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    if x < 20:
        return False
    else:
        return True

In [41]:
adults = filter(myFunc, ages)
for x in adults:
    print(x)

24
32

In [42]:
list(filter(myFunc, ages))

[24, 32]

In [45]:
list(filter(lambda x : x>20, ages))

[24, 32]

### filter() 함수
1. b = [2,18,9,22,17,24,8,12,72]
2. b에서 3의 배수 추출

In [49]:
b = [2,18,9,22,17,24,8,12,72]
list(sorted(filter(lambda x : x % 3 == 0, b)))

[9, 12, 18, 24, 72]

1. 1~10으로 구성된 리스트 target
2. 짝수를 추출하기

In [52]:
target = list(range(1,11)); target

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
def is_even(n):
    return True if n % 2 == 0 else False

list(filter(is_even,target))

[2, 4, 6, 8, 10]

In [55]:
list(filter(lambda x : x % 2 == 0,target))

[2, 4, 6, 8, 10]

### map

In [69]:
def myfunc(a, b):
    return a + "-" + b
a = ('apple', 'banana', 'cherry')
b = ('orange', 'lemon', 'pineapple')
list(map(myfunc, a, b))

['apple-orange', 'banana-lemon', 'cherry-pineapple']

In [70]:
def aa(n):
    return len(n)

In [72]:
list(map(aa, a))

[5, 6, 6]

1. 1~10으로 구성된 리스트 target
2. 각각 3제곱 구하기

In [74]:
def cube(n):
    return n ** 3

In [75]:
target = list(range(1,11)); target

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
list(map(cube, target))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [77]:
list(map(lambda x : x ** 3, target))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### zip

In [84]:
x = [1,2,3]
y = [4,5,6]

In [85]:
for i in range(len(x)):
    print(x[i],y[i])

1 4
2 5
3 6

In [86]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [87]:
list(zip(*zip(x,y)))

[(1, 2, 3), (4, 5, 6)]

### lambda

In [88]:
def x(a):
    return a + 10

x(5)

15

In [89]:
(lambda a : a + 10)(5)

15

In [91]:
y = lambda a : a + 10
y(5)

15

In [92]:
x = lambda a, b : a*b
x(5,6)

30

In [93]:
(lambda a,b : a*b)(5,6)

30

In [97]:
def myfunc(n):
    return lambda a : a*n
res = myfunc(10)
res(11)

110

### next

In [112]:
mylist = iter([1,3,5,7])

In [113]:
print(next(mylist))
print(next(mylist))
print(next(mylist))
print(next(mylist))

1
3
5
7

### reduce

In [114]:
import functools

In [115]:
print(dir(functools))

['RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [116]:
functools.reduce

In [117]:
from functools import reduce

In [122]:
num

[0, 1, 2, 3, 4]

In [121]:
def my_add(a,b):
    result = a + b
    print(f"{a} + {b} = {result}")
    return a+b

num = list(range(0,5))
reduce(my_add, num)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10