### 년도를 입력받아 윤년인지 판별하는 함수(leap_year)
1. 연도 입력
2. 윤년이면 "윤년", 아니면 "평년" 출력
3. 윤년은 2월 29일까지
    - 4로 나눠 떨어지면 윤년
    - 100으로 나눠서 떨어지지 않으면 윤년
    - 400으로 나눠서 떨어지면 윤년

In [37]:
def leap_year(year):
    if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
        res = "윤년"
    else:
        res = "평년"
    return res

In [38]:
year = 2400
leap_year(year)

'윤년'

In [39]:
year = int(input("윤년?> "))
result = leap_year(year)
print("%s년은 '%s'입니다."%(year, result))
print(year,"년은 ",result,"입니다.")
print("{}년은 {}입니다.".format(year, result))

윤년?> 2020
2020년은 '윤년'입니다.
2020 년은  윤년 입니다.
2020년은 윤년입니다.

In [40]:
years = [1980, 2019, 2020, 2040]

In [41]:
result = []
for i in years:
    result.append(leap_year(i))
print(result)

['윤년', '평년', '윤년', '윤년']

In [42]:
print(list(map(leap_year, years)))

['윤년', '평년', '윤년', '윤년']

In [46]:
print(list(map(lambda year:"윤년" if year % 4 == 0 and year\
               % 100 != 0 or year % 400 == 0 else "평년", years)))

['윤년', '평년', '윤년', '윤년']

### 반복 입력 후 판정
1. while 반복문
2. 년도가 0이면 종료

In [49]:
while True:
    year = int(input("년도는(0이면 종료)? "))
    if year == 0:
        print("입력이 종료되었습니다.")
        break
    result = leap_year(year)
    print("%s년은 '%s'입니다."%(year, result))

년도는(0이면 종료)? 0
입력이 종료되었습니다.

### 입력 받은 년도와 결과를 저장하기

In [52]:
save = []
while True:
    year = int(input("년도는(0이면 종료)? "))
    if year == 0:
        print("입력이 종료되었습니다.")
        break
    result = leap_year(year)
    print("%s년은 '%s'입니다."%(year, result))
    save.append([year,result])
print(save)

년도는(0이면 종료)? 2020
2020년은 '윤년'입니다.
년도는(0이면 종료)? 2021
2021년은 '평년'입니다.
년도는(0이면 종료)? 2040
2040년은 '윤년'입니다.
년도는(0이면 종료)? 2060
2060년은 '윤년'입니다.
년도는(0이면 종료)? 0
입력이 종료되었습니다.
[[2020, '윤년'], [2021, '평년'], [2040, '윤년'], [2060, '윤년']]

### 데이터 프레임으로 만들기

In [53]:
import pandas as pd

In [55]:
leapyear = pd.DataFrame(save)

In [57]:
# 컬럼명 변경
leapyear.columns = ["year", "isLeap"]

In [58]:
leapyear

   year isLeap
0  2020     윤년
1  2021     평년
2  2040     윤년
3  2060     윤년

In [59]:
leapyear1 = pd.DataFrame(save, columns=["년도","윤년여부"])
leapyear1

     년도 윤년여부
0  2020   윤년
1  2021   평년
2  2040   윤년
3  2060   윤년

In [60]:
save1 = []
while True:
    year = int(input("년도는(0이면 종료)? "))
    if year == 0:
        print("입력이 종료되었습니다.")
        break
    result = leap_year(year)
    print("%s년은 '%s'입니다."%(year, result))
    save1.append([year,result])
print(save1)

년도는(0이면 종료)? 1990
1990년은 '평년'입니다.
년도는(0이면 종료)? 1992
1992년은 '윤년'입니다.
년도는(0이면 종료)? 1994
1994년은 '평년'입니다.
년도는(0이면 종료)? 1996
1996년은 '윤년'입니다.
년도는(0이면 종료)? 0
입력이 종료되었습니다.
[[1990, '평년'], [1992, '윤년'], [1994, '평년'], [1996, '윤년']]

In [62]:
leapyear1 = pd.DataFrame(save1, columns=["year","isLeap"])
leapyear1

   year isLeap
0  1990     평년
1  1992     윤년
2  1994     평년
3  1996     윤년

###  데이터프레임 합치기
1. leapyear 과 leapyear1 합쳐서 leapyear2
2. pd.concat
3. df.append()

In [69]:
leapyear2 = pd.concat([leapyear,leapyear1], ignore_index=True)
leapyear2

   year isLeap
0  2020     윤년
1  2021     평년
2  2040     윤년
3  2060     윤년
4  1990     평년
5  1992     윤년
6  1994     평년
7  1996     윤년

In [70]:
leapyear3 = leapyear.append(leapyear1,ignore_index=True)
leapyear3

   year isLeap
0  2020     윤년
1  2021     평년
2  2040     윤년
3  2060     윤년
4  1990     평년
5  1992     윤년
6  1994     평년
7  1996     윤년

### DataFrame -> csv 만들고 읽어오기

In [ ]:
leapyear3.to_csv("leapyear3.csv", index=False)

In [85]:
pd.read_csv("leapyear3.csv")

   year isLeap
0  2020     윤년
1  2021     평년
2  2040     윤년
3  2060     윤년
4  1990     평년
5  1992     윤년
6  1994     평년
7  1996     윤년

In [90]:
leapyear3.to_csv("leapyear03.csv")
pd.read_csv("leapyear03.csv").drop("Unnamed: 0",axis=1)

   year isLeap
0  2020     윤년
1  2021     평년
2  2040     윤년
3  2060     윤년
4  1990     평년
5  1992     윤년
6  1994     평년
7  1996     윤년

In [91]:
pd.read_csv("leapyear03.csv").columns

Index(['Unnamed: 0', 'year', 'isLeap'], dtype='object')

In [92]:
save2 = {}
while True:
    year = int(input("년도는(0이면 종료)? "))
    if year == 0:
        print("입력이 종료되었습니다.")
        break
    result = leap_year(year)
    print("%s년은 '%s'입니다."%(year, result))
    save2[year] = result
    print("save2 = ", save2)
print(save2)

년도는(0이면 종료)? 2020
2020년은 '윤년'입니다.
save2 =  {2020: '윤년'}
년도는(0이면 종료)? 2021
2021년은 '평년'입니다.
save2 =  {2020: '윤년', 2021: '평년'}
년도는(0이면 종료)? 2022
2022년은 '평년'입니다.
save2 =  {2020: '윤년', 2021: '평년', 2022: '평년'}
년도는(0이면 종료)? 0
입력이 종료되었습니다.
{2020: '윤년', 2021: '평년', 2022: '평년'}

In [108]:
pd.DataFrame(save2, index=[0])

  2020 2021 2022
0   윤년   평년   평년

In [95]:
save3 = {}
while True:
    year = int(input("년도는(0이면 종료)? "))
    if year == 0:
        print("입력이 종료되었습니다.")
        break
    result = leap_year(year)
    print("%s년은 '%s'입니다."%(year, result))
    save3[result] = year
    print("save3 = ", save3)
print(save3)

년도는(0이면 종료)? 2020
2020년은 '윤년'입니다.
save3 =  {'윤년': 2020}
년도는(0이면 종료)? 2021
2021년은 '평년'입니다.
save3 =  {'윤년': 2020, '평년': 2021}
년도는(0이면 종료)? 2022
2022년은 '평년'입니다.
save3 =  {'윤년': 2020, '평년': 2022}
년도는(0이면 종료)? 0
입력이 종료되었습니다.
{'윤년': 2020, '평년': 2022}

In [99]:
save4 = {}
common = []
leap = []
while True:
    year = int(input("년도는(0이면 종료)? "))
    if year == 0:
        print("입력이 종료되었습니다.")
        break
    result = leap_year(year)
    print("%s년은 '%s'입니다."%(year, result))
    if result == "평년":
        common.append(year)
    else:
        leap.append(year)

save4["평년"] = common
save4["윤년"] = leap
save4

년도는(0이면 종료)? 2021
2021년은 '평년'입니다.
년도는(0이면 종료)? 2022
2022년은 '평년'입니다.
년도는(0이면 종료)? 2024
2024년은 '윤년'입니다.
년도는(0이면 종료)? 2028
2028년은 '윤년'입니다.
년도는(0이면 종료)? 0
입력이 종료되었습니다.

{'평년': [2021, 2022], '윤년': [2024, 2028]}

In [100]:
pd.DataFrame(save4)

     평년    윤년
0  2021  2024
1  2022  2028

In [103]:
isYears = {}
comms = []
leaps = []
year = 1990

while True:    
    result = leap_year(year)
    if result == "평년":
        comms.append(year)
        leaps.append("")
    else:
        comms.append("")
        leaps.append(year)
    year += 1
    if year == 2024:
        break
isYears["평년"] = comms
isYears["윤년"] = leaps

In [104]:
pd.DataFrame(isYears)

      평년    윤년
0   1990
1   1991
2         1992
3   1993
4   1994
5   1995
6         1996
7   1997
8   1998
9   1999
10        2000
11  2001
12  2002
13  2003
14        2004
15  2005
16  2006
17  2007
18        2008
19  2009
20  2010
21  2011
22        2012
23  2013
24  2014
25  2015
26        2016
27  2017
28  2018
29  2019
30        2020
31  2021
32  2022
33  2023