In [1]:
import pandas as pd

a = pd.read_csv("correct.csv", encoding="utf-8")
a1 = a.drop(["No"], axis="columns")

In [2]:
a2 = a1["c_Y"] / a1["c_X"]
a2

0      4.150000
1      4.050000
2      3.103448
3      3.147059
4      3.205882
         ...
273    2.852941
274    3.344828
275    3.344828
276    3.000000
277    3.205882
Length: 278, dtype: float64

In [3]:
b = pd.read_csv("forward.csv", encoding="utf-8")
b1 = b.drop(["No"], axis="columns")

In [4]:
b2 = b1["f_Y"] / b1["f_X"]
b2

0      2.517241
1      2.517241
2      2.689655
3      2.743590
4      2.743590
         ...
360    2.647059
361    2.647059
362    2.647059
363    2.743590
364    3.147059
Length: 365, dtype: float64

In [1]:
import pandas as pd

In [4]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

pd.DataFrame([a,b])

              0
0  [1, 2, 3, 4]
1  [5, 6, 7, 8]