In [2]:
import pandas as pd

a = pd.read_csv("yw_forw.csv", encoding="utf-8")
a

     c_X  c_Y
0     96  304
1     96  288
2    120  248
3    120  256
4    120  256
..   ...  ...
388   85  168
389   57  176
390   85  176
391   96  224
392   96  216

[393 rows x 2 columns]

In [19]:
aa.describe()

count    393.000000
mean       2.288147
std        0.679377
min        1.133929
25%        1.894737
50%        2.105263
75%        2.576471
max        8.000000
dtype: float64

In [66]:
aa = a.c_Y / a.c_X
bb = pd.DataFrame(aa, columns=["0"])
bb

            0
0    3.166667
1    3.000000
2    2.066667
3    2.133333
4    2.133333
..        ...
388  1.976471
389  3.087719
390  2.070588
391  2.333333
392  2.250000

[393 rows x 1 columns]

In [68]:
b1 = bb[bb["0"].index==118]
b1

            0
118  4.186047

In [16]:
import numpy as np
q3 = np.percentile(aa, 75)
q1 = np.percentile(aa, 25)
IQR = (q3 - q1) * 1.5

In [17]:
max = q3 + IQR
min = q1 - IQR

In [18]:
print(max, min)

3.5990712074303413 0.8721362229102161

In [49]:
cc = pd.DataFrame(aa, columns=["0"])

In [50]:
c1 = cc > max
c1

         0
0    False
1    False
2    False
3    False
4    False
..     ...
388  False
389  False
390  False
391  False
392  False

[393 rows x 1 columns]

In [56]:
c2 = c1[c1["0"]==True]

In [61]:
c2.index

Int64Index([118, 119, 120, 121, 161, 166, 370, 371, 372], dtype='int64')

In [71]:
corr = pd.read_csv("yw_corr.csv", encoding="utf-8")
corr

     c_X  c_Y
0     25   97
1     25   75
2     25   77
3     25   77
4     25   78
..   ...  ...
407   30   95
408   30   95
409   30  100
410   30  100
411   25   77

[412 rows x 2 columns]

In [88]:
corr.describe()

              c_X         c_Y
count  405.000000  405.000000
mean     0.405761    0.456828
std      0.162386    0.209888
min      0.166667    0.000000
25%      0.333333    0.303030
50%      0.333333    0.424242
75%      0.500000    0.621212
max      1.000000    1.000000

In [89]:
corr_rate = corr.c_Y / corr.c_X
corr_rate1 = pd.DataFrame(corr_rate, columns=["0"])
corr_rate1

            0
0    1.818182
1    0.818182
2    0.909091
3    0.909091
4    0.954545
..        ...
407  1.151515
408  1.151515
409  1.303030
410  1.303030
411  0.909091

[405 rows x 1 columns]

In [90]:
corr_rate1.describe()

                0
count  405.000000
mean     1.158268
std      0.435379
min      0.000000
25%      0.909091
50%      1.060606
75%      1.318182
max      3.636364

In [91]:
import numpy as np
corr_q3 = np.percentile(corr_rate1, 75)
corr_q1 = np.percentile(corr_rate1, 25)
corr_IQR = (corr_q3 - corr_q1) * 1.5

In [92]:
corr_max = corr_q3 + corr_IQR
corr_min = corr_q1 - corr_IQR
print(corr_max, corr_min)

1.9318181818181817 0.29545454545454575

In [79]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
corr[:] = scaler.fit_transform(corr[:])

In [100]:
corr = corr[corr["c_X"] > 0]

c_X    0.166667
c_Y    0.606061
Name: 198, dtype: float64

In [101]:
corr_rate1.loc[198]

0    3.636364
Name: 198, dtype: float64

In [95]:
ccc = corr_rate1 > max
ccc

         0
0    False
1    False
2    False
3    False
4    False
..     ...
407  False
408  False
409  False
410  False
411  False

[405 rows x 1 columns]

In [97]:
ccc2 = ccc[ccc["0"]==True]
ccc2

        0
198  True