In [1]:
import pandas as pd 
from sklearn import svm, metrics 
from sklearn.model_selection import  train_test_split

In [36]:
csv = pd.read_csv("./dataset/corr2.csv")

In [84]:
corr_df = pd.DataFrame(csv); corr_df = corr_df.drop(columns=["Unnamed: 0", "c_X"]); corr_df.describe()

               c_Y
count  1771.000000
mean    244.877470
std     235.558718
min      65.000000
25%     100.000000
50%     200.000000
75%     288.000000
max    1337.000000

In [50]:
corr_df

      c_Y
0     115
1     304
2      70
3     272
4     272
...   ...
1766  288
1767  288
1768  288
1769  296
1770  296

[1771 rows x 1 columns]

In [48]:
corr_ratio = corr_df["c_Y"]

In [49]:
corr_ratio_df = pd.DataFrame(corr_ratio, columns=["c_ratio"]); corr_ratio_df

Empty DataFrame
Columns: [c_ratio]
Index: []

In [52]:
c_labels = ["correct" for i in range(len(corr_df))]
c_labels_df = pd.DataFrame(c_labels, columns=["c_labels"]); c_labels_df

     c_labels
0     correct
1     correct
2     correct
3     correct
4     correct
...       ...
1766  correct
1767  correct
1768  correct
1769  correct
1770  correct

[1771 rows x 1 columns]

In [54]:
# corr_data = corr_ratio_df.join(c_labels_df, how="right"); corr_data.describe()
corr_data = corr_df.join(c_labels_df, how="right"); corr_data

      c_Y c_labels
0     115  correct
1     304  correct
2      70  correct
3     272  correct
4     272  correct
...   ...      ...
1766  288  correct
1767  288  correct
1768  288  correct
1769  296  correct
1770  296  correct

[1771 rows x 2 columns]

In [55]:
f_csv = pd.read_csv("./dataset/forw2.csv")

In [85]:
forw_df = pd.DataFrame(f_csv); forw_df = forw_df.drop(columns=["Unnamed: 0","f_X"]); forw_df.describe()

               f_Y
count  1646.000000
mean    202.294046
std     192.744595
min      16.000000
25%      80.000000
50%     168.000000
75%     232.000000
max    1158.000000

In [12]:
forw_df["f_Y"] = forw_df["f_Y"] * 0.5

In [13]:
forw_ratio = forw_df["f_Y"] / forw_df["f_X"]; forw_ratio

0       1.255814
1       0.947368
2       1.000000
3       1.328571
4       0.951493
          ...
1641    1.036036
1642    1.026786
1643    0.881481
1644    0.888060
1645    1.000000
Length: 1645, dtype: float64

In [14]:
forw_ratio_df = pd.DataFrame(forw_ratio, columns=["f_ratio"]); forw_ratio_df.describe()

           f_ratio
count  1645.000000
mean      1.103448
std       0.266984
min       0.056338
25%       0.923077
50%       1.071429
75%       1.270588
max       2.436893

In [57]:
f_labels = ["forward" for i in range(len(forw_df))]
f_labels_df = pd.DataFrame(f_labels, columns=["f_labels"]); f_labels_df

     f_labels
0     forward
1     forward
2     forward
3     forward
4     forward
...       ...
1641  forward
1642  forward
1643  forward
1644  forward
1645  forward

[1646 rows x 1 columns]

In [58]:
# forw_data = forw_ratio_df.join(f_labels_df, how="right")
forw_data = forw_df.join(f_labels_df, how="right"); forw_data.head()

   f_Y f_labels
0  216  forward
1  216  forward
2   90  forward
3   93  forward
4  255  forward

In [59]:
corr_data.columns = ["data", "labels"]
forw_data.columns = ["data", "labels"]

In [61]:
total_data = pd.concat([corr_data, forw_data]); total_data

      data   labels
0      115  correct
1      304  correct
2       70  correct
3      272  correct
4      272  correct
...    ...      ...
1641   230  forward
1642   230  forward
1643   238  forward
1644   238  forward
1645    80  forward

[3417 rows x 2 columns]

In [62]:
import numpy as np

In [63]:
data_shuffled = total_data.sample(frac=1)  # row 전체 shuffle

data_shuffled = total_data.sample(frac=1).reset_index(drop=True)  # shuffling하고 index reset

In [64]:
data_shuffled = data_shuffled.dropna()

In [65]:
pose_data = data_shuffled[["data"]]
pose_label = data_shuffled["labels"]

In [66]:
train_data, test_data , train_label, test_label  =  train_test_split(pose_data, pose_label, test_size=0.2)

# help( train_test_split )

In [67]:
model = svm.SVC(  )
model.fit(train_data, train_label  )

SVC()

In [68]:
pre = model.predict( test_data )

In [69]:
ac_score = metrics.accuracy_score( test_label, pre ) 
print("정답률 = " , ac_score)

정답률 =  0.6169590643274854